SAAS_TEMPLATE_DATABASE_URL_DEVELOPMENT=postgres://postgres:your-password@127.0.0.1:5432/saas_template_development
SAAS_TEMPLATE_DATABASE_URL_TEST=postgres://postgres:your-password@127.0.0.1:5432/saas_template_test
APP_CANONICAL_HOST=example.com
SUPPORT_EMAIL=support@example.test
APP_EMAIL_FROM_NAME=SaaS Template
APP_EMAIL_FROM_ADDRESS=no-reply@example.test
RESEND_API_KEY=
